---
import Base from '../layouts/Base.astro';
import * as about from '../data/about.md';
---

<Base title="关于 · Air">
  <article>
    <h1>关于我</h1>
    <about.Content />
  </article>
</Base>

<style>
  article {
    max-width: 720px;
  }

  h1 {
    font-size: 1.6rem;
    margin: 2rem 0 1rem;
  }
</style>
